body{
  padding: 0;
  margin: 0;
}

.banner-background{
  background-image: url('/images/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signup-background{
  background-image: url('/images/back-signup.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}